<html>
<head>
    <title>Documentation for TR</title>
    <style type="text/css">
      body {
        background-image: url('http://www.alfresco.com/assets/images/header/alfresco-logo.gif');
        background-repeat: no-repeat;
        background-color: #eef;
      }
      .firstHeading {
        margin: 60px 20px;
        font-size: 28px;        
      }
      .toctext {
        font-size: 16px;
        font-weight: bold;
      }
      h3 {
        font-size: 16px;
      }
      pre {
        margin: 0px;
        background-color: #fff;
        border-style: dashed;
        border-width: 1px;
        width: 700px;
      }
    </style>
</head>
   
<body>
  <h1 id="firstHeading" class="firstHeading">Documentation for TR version: [% doc.version %]</h1>
  
  [% FOREACH path IN doc.paths -%]
    <ul>
      <li><span class="toctext">[% path.key %]</span></li>
      <ul>
      [% FOREACH method IN path.value -%]
        <li><a href="[% location %][% path.key %]?method=system.doc&show=[% method %]">[% method %]</a>
        <a href="[% location %][% path.key %]?method=system.schema&show=[% method %]">(schema)</a></li>
      [% END %]
      </ul>
    </ul>
  [% END %]
  [% IF doc.poddoc %]
    [% FILTER html_para %]
      <h3>[% doc.method %]</h3>
      <pre>[% doc.poddoc %]</pre>
    [% END %]
  [% END %]
  [% IF doc.schema %]
    [% FILTER html_para %]
      <h3>Schema for: [% doc.method %]</h3>
      <pre>[% doc.schema %]</pre>
    [% END %]
  [% END %]
</body>
</html>
